<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/download.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site is created by Akshay Gawade. It uses data from mapbox.com and weatherstack</p>
            <img class="portrait" src="/img/spiderman.jpg">
        </div>
        
        {{>footer}}
    </body>
</html>